<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alexchantastic.openwithneovim</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3998CA42-874A-448F-81CB-EF6F37BF27BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3C65908E-C121-4F1A-B146-888F48D6C6AB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5063EDCA-534F-41F7-922C-60BE46F9E672</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F94D0AD4-6645-422A-9145-B142872D8C33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52F4BCF3-C8B2-4141-A8EA-4D1C36D52BE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58A4C2CA-3D8A-41E1-A2A1-190A21C11D0E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1B64F7A-8B48-42C8-A3A9-C0F99B79DFB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D39D1B4-87CE-427F-A5D5-984954932FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A2EDD6AA-8EED-42D3-8A9F-3FCC1AF713D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BA047610-E27D-42BB-94EC-007EC1D27816</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A713AA3-2699-48D7-BCA8-26020A874075</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>52F4BCF3-C8B2-4141-A8EA-4D1C36D52BE9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>812F7282-DBC7-4D77-BBEE-F771657B5D5C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4795B6F4-F5D7-4C20-8360-331144B1E643</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2EDD6AA-8EED-42D3-8A9F-3FCC1AF713D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812F7282-DBC7-4D77-BBEE-F771657B5D5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5063EDCA-534F-41F7-922C-60BE46F9E672</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F15563D1-30B4-40C0-85EE-569B02B0F0EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>58A4C2CA-3D8A-41E1-A2A1-190A21C11D0E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F15563D1-30B4-40C0-85EE-569B02B0F0EF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D39D1B4-87CE-427F-A5D5-984954932FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1B64F7A-8B48-42C8-A3A9-C0F99B79DFB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3998CA42-874A-448F-81CB-EF6F37BF27BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BA047610-E27D-42BB-94EC-007EC1D27816</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F94D0AD4-6645-422A-9145-B142872D8C33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A713AA3-2699-48D7-BCA8-26020A874075</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan</string>
	<key>description</key>
	<string>Open files or folders in Neovim.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Neovim</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open with Neovim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd $(dirname {var:filepath1}); nvim {var:filepath}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>4795B6F4-F5D7-4C20-8360-331144B1E643</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.filter.files</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F15563D1-30B4-40C0-85EE-569B02B0F0EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Path</string>
						<key>uid</key>
						<string>BA047610-E27D-42BB-94EC-007EC1D27816</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Path</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5D39D1B4-87CE-427F-A5D5-984954932FF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filepath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A2EDD6AA-8EED-42D3-8A9F-3FCC1AF713D7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>filepath</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>812F7282-DBC7-4D77-BBEE-F771657B5D5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>nvimf</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find files and folders and open in Neovim</string>
				<key>title</key>
				<string>Find and open with Neovim</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>23DEA358-A623-4725-95B2-79C207AF4556</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>cd {var:folderpath1}; nvim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>3C65908E-C121-4F1A-B146-888F48D6C6AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.filter.directories</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>58A4C2CA-3D8A-41E1-A2A1-190A21C11D0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Path</string>
						<key>uid</key>
						<string>BA047610-E27D-42BB-94EC-007EC1D27816</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Path</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F1B64F7A-8B48-42C8-A3A9-C0F99B79DFB3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>0</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>folderpath</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>3998CA42-874A-448F-81CB-EF6F37BF27BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F94D0AD4-6645-422A-9145-B142872D8C33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>52F4BCF3-C8B2-4141-A8EA-4D1C36D52BE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>nvim</string>
				<key>subtext</key>
				<string>Open Finder folder or selection in Neovim or optionally enter a path to open</string>
				<key>text</key>
				<string>Open with Neovim</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC170ECD-6B82-4A05-8681-8185ACE453FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Path</string>
						<key>uid</key>
						<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Path</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5063EDCA-534F-41F7-922C-60BE46F9E672</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Selection</string>
						<key>uid</key>
						<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Selection</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>6A713AA3-2699-48D7-BCA8-26020A874075</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred 5 workflow for opening files or folders with Neovim.</string>
	<key>uidata</key>
	<dict>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>3998CA42-874A-448F-81CB-EF6F37BF27BC</key>
		<dict>
			<key>xpos</key>
			<real>1620</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>3C65908E-C121-4F1A-B146-888F48D6C6AB</key>
		<dict>
			<key>xpos</key>
			<real>1700</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>4795B6F4-F5D7-4C20-8360-331144B1E643</key>
		<dict>
			<key>xpos</key>
			<real>1700</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>5063EDCA-534F-41F7-922C-60BE46F9E672</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>52F4BCF3-C8B2-4141-A8EA-4D1C36D52BE9</key>
		<dict>
			<key>xpos</key>
			<real>885</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>58A4C2CA-3D8A-41E1-A2A1-190A21C11D0E</key>
		<dict>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>5D39D1B4-87CE-427F-A5D5-984954932FF7</key>
		<dict>
			<key>xpos</key>
			<real>1430</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>6A713AA3-2699-48D7-BCA8-26020A874075</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>812F7282-DBC7-4D77-BBEE-F771657B5D5C</key>
		<dict>
			<key>xpos</key>
			<real>1620</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>A2EDD6AA-8EED-42D3-8A9F-3FCC1AF713D7</key>
		<dict>
			<key>xpos</key>
			<real>1550</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>E5F1BACC-6B42-4C3F-9DA4-FACA5B0EC468</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>F15563D1-30B4-40C0-85EE-569B02B0F0EF</key>
		<dict>
			<key>xpos</key>
			<real>1240</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F1B64F7A-8B48-42C8-A3A9-C0F99B79DFB3</key>
		<dict>
			<key>xpos</key>
			<real>1430</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>F94D0AD4-6645-422A-9145-B142872D8C33</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/alexchantastic/alfred-open-with-neovim-workflow</string>
</dict>
</plist>
